body {
	padding: 0;
	margin: 0;

}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	background: white;
	z-index: 2;
}

.menu li {
	margin: 20px 10px 0;
	display: inline-block;
	padding: 8px 25px;
	background: #0b8bd8;
	color: #ffffff;
	border-radius: 10px;
	position: relative;

}
.menu:hover .menu__submenu {
	top: 60px;
}
.menu__submenu {
	display: flex;
	top: -300px;
	position: absolute;
	flex-direction: column;
	padding: 0;
	transition: 0.5s ease-in-out;
	z-index: 1;
}

.left-submenu{
	background: gray;
	padding: 5px 10px;
}