@import "bootstrap-reboot.min.css";
bpdy {
    font-family:'Lato', sans-serif;
}
img {
    display: block;
    max-width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.nav_wrapper {
    padding-top: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 80px;
    flex-direction: column;
}
.nav {
    display: none;
}
.nav_item {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-right: 70px;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.nav_item:last-child {
    margin-right: 0;
}
.nav_item:hover  {
    color: #111111;
    text-decoration: none;
    font-weight: 600;
}
.nav_button {
    background: rgb(255, 255, 255);
    padding: 0;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    border: 1px solid  rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.button_navigations {
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    color:  #aaaaaa;
    text-transform: uppercase;
}
.button_navigations:hover  {
    color: #111111;
}
.menu {
    background-color:rgb(255, 255, 255);
    position: absolute;
    display: none;
    list-style-type: none;
    left: 0;
    top: 60px;
    padding: 0 30px;
}
.button_navigations:hover .menu {
    display: block;
}
.menu li {
    margin: 15px 0 30px 0;
}

.header_wrapp {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; 
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-bottom: 50px;
}
.header_title {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.57px;
    text-align: center;
    margin-bottom: 45px;
}
.header_discription {
    font-size: 16px;
    color: rgb(153, 153, 153);
    line-height: 1.875;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.header_content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.reviews {
    width: 260px;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews_title {
    text-align: center;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 45px;
    letter-spacing: 0.29px;
    display: flex;
    justify-content: center;
}
.reviews_item_text {
        font-size: 16px;
        text-align: left;
        width: 257px;
        height: 79px;
        line-height: 1.9;
        font-style: italic;
        margin-bottom: 10px;
}
.reviews_item_author {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.938;
        text-align: left;
        font-weight: 900;
}
.reviews_item {
    width: 260px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
    position: relative;
}
.reviews_item::before {
    position: absolute;
    top: 0;
    left: -18;
    content: "";
    display: block;
    width: 36px;
    height: 29px;
    z-index: -1;
    background-image: url(img/“.png);
    background-position: center;
    background-repeat: no-repeat;
}
.video {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
    letter-spacing: 0.29px;
    margin-bottom: 36px;
    text-align: center;
}
.video_item {
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
}
.play_icon {
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    overflow: hidden;
}
.play_icon:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -5.5px;
    width: 0;
	height: 0;
	border-top: 5.5px solid transparent;
	border-left: 8px solid rgb(0, 0, 0);
	border-bottom: 5.5px solid transparent;
}
.video_item .play_icon {
    position: absolute;
    left: -10px;
    bottom: -15px;

}
.video_center {
    position: relative;
    order: -1;
    margin-bottom: 30px;
}
.video_center .play_icon {
    position: absolute;
    left: 24px;
    bottom: 50px;
}
.video-title{
    margin-bottom: 36px;
    text-align: center;
    width: 100%;
}
.container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.header1 {
    font-size: 36px;
    line-height: 400;
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
    line-height: 2;
    text-align: center;
    letter-spacing: 0.41px;
   margin-top: 0;
   margin-bottom: 25px;
  }
  .instructor_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;
      align-items: center;
  }
  .instructor {
      text-align: center;
      margin-bottom: 20px;
  }
  .instructor_name {
        font-size: 26px;
        font-family: 'Playfair Display', serif;
        color: rgb(0, 0, 0);
        line-height: 2.931;
        text-align: center;
        letter-spacing: 0.28px;
        margin-bottom: 10px;
        margin-top: -20px;
  }
  .instructor_students {
        font-size: 15px;
        color: rgb(42, 183, 56);
        line-height: 5.862;
        text-align: center;
        letter-spacing: 0.14px;
        margin-top: -60px;
  }
  .block_item {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: auto;
      margin-right: auto;
  }
  .block_item:nth-child(odd){
    
      flex-direction: column;

  }
  .block_item:last-child{
      margin-bottom: 250px;
  }
  .blog_item_content {
      width: 100%;
  }
  .block_item_header {
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        color: rgb(0, 0, 0);
        font-style: italic;
        line-height: 1.2;
        text-align: left;  
        letter-spacing: 0.35px; 
        margin-bottom: 15px;
  }
  .block_item_disc {
        font-size: 16px;
        color: rgb(68, 68, 68);
        line-height: 1.938;
        font-weight: 400;
        letter-spacing: 0.06px;
        margin-bottom: 25px;
  } 
  .block_item_readmore{
      display: inline-block;
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.938;
        font-weight: 700;
        letter-spacing: 0.06px;
         height: 50px;
         border: 1px solid #e5e5e5;
         padding: 16px 30px;
         line-height: 1;
         text-decoration: none;
         transition: all 0.2s ease-in;
  }
  .block_item_readmore:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
  }
  .bottom {
      display: inline-block;
      line-height: 1;
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        border: 1px solid rgb(65, 71, 91);
        background-color: rgb(255, 255, 255);
        height: 54px; 
        padding: 17px 45px;  
        text-decoration: none;
        transition: all 0.2s ease-in;
 }
 .bottom:hover {
   text-decoration: none;
   background-color: #000;
   color: #fff;
  }
  .text-center {
      margin-top: -20px;
      display: flex;
      justify-content: center;
      margin-bottom: 145px;
  }
  .footer {
        border-top: 1px solid rgb(242, 237, 231);
        padding: 48px 0 38px;
  }
  .footer_container {
      max-width: 1180px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .footer_copyright_title {
        font-size: 24px;
        font-family: 'Playfair Display', serif;;
        color: rgb(0, 0, 0);
        line-height: 1;    
        font-weight: 400;
        margin-bottom: 10px;
  }
  .footer_copyright_text {
        font-size: 14px;
        color: rgb(159, 159, 159);
        font-weight: 400;
        line-height: 2;
  }
  .footer_designeby {
        font-size: 14px;
        font-weight: 400;
        color: rgb(159, 159, 159);
        line-height: 2.571;
  }
  .footer_designeby strong {
      color: #000;
      font-weight: 600;
  }
@media (min-width: 630px){
    .logo {
        margin: 0;
        padding: 0;
    }
    .nav_wrapper{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        margin-bottom: 100x;
        display: flex;
        flex-direction: row;
    }
    .nav_button {
        display: none;
    }
    .nav {
        display: block;
    }
    .video {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .video_item  {
        margin-right: 30px;
    }
    .video_item:last-child {
        margin-right: 0;
    }
    .reviews {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reviews_item {
        width: 260px;
        margin-right: 30px;
    }
    .reviews_item:last-child {
        margin-right: 0;
    }
    .reviews_title {
        width: 100%;
    }
    .footer_container{
        flex-direction: row;
        text-align: left;
    }
}
@media (min-width: 900px){
    .instructor_wrapper {
    flex-direction: row;
    max-width: 1060px;
    }
    .block_item {
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 90px;
        padding-left: 0;
      padding-right: 0;
    }
    .block_item:nth-child(odd) {
        flex-direction: row;
    }
    .block_item_image {
        margin-right: 20px;
    }
}
@media (min-width: 1200px){
.nav_wrapper{
        padding-top: 92px;
        max-width: 1460px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 220px;
    }
.header_wrapp {
        max-width: 1460px;
        padding-left: 0;
        padding-right: 0; 
        margin-left: auto;
        margin-right: auto;
        height: 200px; 
        margin-bottom: 0;
    }
.header_content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 220px;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 220px;    
    }
.video {
        width: 280px;
        margin-left: 0;
        margin-right: 0
    }
.video_title {
        margin-bottom: 36px;
        text-align: left;
    }
.header_title {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.57px;
    text-align: center;
    margin-bottom: 45px;
}
.video_center {
    position: relative;
    order: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.video_item {
    margin-right: 0px;
    margin-left: 0;
    margin-right: 0;
}
.reviews {
    width: 260px;
    order: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.reviews_title {
    text-align: left;
}
.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
.header1 {
    font-size: 50px;
    margin-bottom: 85px;
}
.instructor_wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 255px;
}
.instructor {
    text-align: center;
    margin-bottom: 0;
}
.instructor_img {
    margin-bottom: 30px;
}
.block_item {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 190px;
}
.block_item:nth-child(odd){
    flex-direction: row-reverse;
}
.block_item_header {
    font-size: 40px;
}
.blog_item_content {
    width: 450px;
}
.block_item_disc {
    margin-bottom: 50px;
} 
.block_item_header {
    margin-bottom: 25px;
}
}